Telethon==1.45.0
pyaes==1.6.1
rsa==4.9.1
pyasn1==0.6.1
psutil==7.0.0
PyInstaller==6.15.0
altgraph==0.17.4
packaging==25.0
pefile==2023.2.7
pyinstaller-hooks-contrib==2025.8
pywin32-ctypes==0.2.3
setuptools==80.9.0
